@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,600i&display=swap');

html,body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/

}

.Navigatie {
        display: none;
    }


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    color: #042f4b;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
    color: #fbc99d;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}


br {
    display: block;
    margin-bottom: 1em;
}

a {
    color: #042f4b;
    text-decoration: none;
}

a:hover {
    color: #fbc99d;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 65px;
    margin-top: 0;
    color: #042f4b;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
    color: #fbc99d;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff6da;
    font-size: 22px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.Knop {
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: #042f4b;
    color: #fff6da;
    border-radius: 40px;
}

.Knop:hover {
    background:#fbc99d;
    color: #042f4b;
}

.KnopAgenda {
    display: table;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: #042f4b;
    color: #fff6da;
    border-radius: 40px;
}


.KnopAgenda:hover {
    background:#fbc99d;
    color: #042f4b;
}

.NaviMobiel {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff6da;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    word-spacing: 8px;
    color: #042f4b;
    margin-bottom: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.NaviMobiel a {
    color: #042f4b;
}

.NaviMobiel a:hover {
    color: #fbc99d;
}

.HeaderMobiel {  
    display: ;
    width: 100%;
    background-color: #042f4b;
    height: 100vh;
    margin-bottom: 150px;

}

.Header {
    display: none;
    width: 100%;
    height: 50vh;
    background-color: #042f4b;
}

.Toneel {
    height: 100vh;
}

.Musical {
    height: 100vh;
}

.Links {
    padding-top: 60px;
    background-color: #042f4b;
    width: 100%;
    display: block;
    height: 10vh;
    
}

.Rechts {
    width: 100%;
    background-image: url(HeaderIMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    display: block;
    height: 90vh;
    
}

.RechtsToneel {
    width: 100%;
    background-image: url(over/Man-Over.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: block;
    height: 90vh;
    background-attachment: fixed;
}

.RechtsMusical {
    width: 100%;
    background-image: url(musical/CMIYC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    display: block;
    height: 90vh;
    background-attachment: fixed;
}

.Logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.Titel {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20xx;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 760px){
    .WWW {
        font-size: 45px;
    }   
    
    .CastCrew {
        padding-left: 20px;
    }

    .Laptop {
        display: none;
    }
    
    .Tablet {
        display: none;
    }
    
    .Footer {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .SpeelWidgetAgenda {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    
}

.WWW {
    margin: 0;
}

.Info {
    padding-left: 20px;
    padding-right: 20px;
}

.InfoLinks {
    width: 100%;
    float: left;
    text-align: justify;
}

.InfoRechts {
    margin-top: 30px;
    width: 100%;
    float: left;
    margin-bottom: 120px;
    text-align: justify;
}

.InfoRechts img {
    width: 100%;
}
    
@media screen and (min-width: 760px){
    .Speellijstje{
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .Titel {
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .CastTitel {
    }
    
    .Info {
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .Footer {
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .CastCrew {
        padding-left: 60px;
        padding-right: 40px;
    }
    
    .Tablet {
        display: none;
    }
    
    .Laptop {
        display: none;
    }
    
    .SpeelWidgetAgenda {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 50px;
    }

}


.CastCrew {
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: 20px;
}

.Cast {
    display: inline-flex;
    margin-top: 35px;
    margin-bottom: 50px;
}

.Cast1 {
    width: 50%;
    margin-right: 20px;
    background-color: #042f4b;
}

.Cast1 h3 {
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.Cast1 h4 {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fbc99d
}

.Cast1 img {
    width: 100%;
}

.Speellijstje {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
}

.SpeelWidget {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #042f4b;
    margin-bottom: 70px;
}

.SpeelWidgetAgenda {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #042f4b;
    margin-bottom: 70px;
}

.Footer {
    margin-top: 100px;
    background-color: #fff6da;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    color: #042f4b;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Footer a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #042f4b;
}

.Footer a:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fbc99d;
}

.Kolom1 {
    padding-top: 20px;
    float: left;
    width: 60%
}

.Kolom2 {
    float: left;
    width: 0%;
    bottom: 0;
}

.Kolom3 {
    float: left;
    width: 40%;
    text-align: right;
    align-items: center;
    align-content: center;
    vertical-align: bottom;
}
.Kolom3 img {
    padding-top: 20px;
    width: 100%;
    vertical-align: middle;
    display: block;
    
}

.KnopMail {
    margin: 0 auto;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #042f4b;
    color: #fff6da;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.KnopMail:hover {
    background-color: #fbc99d;
    color: #042f4b;
}

.ContactFormulier {
    padding-left: 60px;
    padding-right: 60px;
    color: #042f4b;
    position: relative;
    z-index: 0;
}

@media screen and (max-width:545px) {
    .ContactFormulier {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid #fbc99d; /* Gray border */ /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.bericht {
    height: 280px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}